Testing injection of functionality to template evaluation
this is a default template variable injection {{ . }}
this is an upgraded template variable injection {{ toUpper . }}
this is an upgraded template variable injection {{ customFunction . }}
this is an upgraded template variable injection {{ double . }}
